[Unit]
Description=Conesphere Firewall Service
 
# Start before Network Interfaces coming up
# on debian it is meant to run after basic.target but that breaks centos
After=systemd-remount-fs.service local-fs.target
Before=network-pre.target network.target network-online.target networking.service
 
[Service]
ExecStart=/usr/local/sbin/fw-load.sh
ExecStop=/usr/local/sbin/fw-load.sh stop
ExecReload=/usr/local/sbin/fw-load.sh
 
# Just Execute the shell script
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=network.target sysinit.target
