[Unit]
Description=Conesphere Firewall Service
 
# Start before Network Interfaces coming up
# 
# Network Pre Target is not really working with debian
# Before=network-pre.target
# Wants=network-pre.target
Before=network.target
Wants=network.target
After=local-fs.target basic.target
 
# Do not start after basic.target!
DefaultDependencies=no
 
[Service]
ExecStart=/usr/sbin/fw-load.sh
ExecStop=/usr/sbin/fw-load.sh stop
ExecReload=/usr/sbin/fw-load.sh
 
# Just Execute the shell script
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=network.target
